* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(44, 39, 39);
    
}

ul {

    color: aliceblue;
    
}

li {
    display: inline-block;
    padding: 10px;
    margin-left: 100px;
    
}



.imagem1 {

    width: 1365px;
    height: 300px;
    margin-bottom: 10px;
}

h2 {

    color: aliceblue;
    text-align: center;
}



fieldset {    

    margin-left:15px;
    margin-bottom: 10px;
    background-color: rgb(22, 21, 21); 
      
    
}

.imagem2 {

    color: aliceblue;
    height: 200px;
    
    
    
}


.legend_1 {

    color: aliceblue;
    padding-left: 410px;
    padding-top: 50px;
    position: absolute;

}
         
    
p {
    font-size:x-large;
    padding: 30px;
    text-align: center;
}


.legend_2 {

    color: aliceblue;
    font-size: x-large;
    padding: 10px;
    


    
}



input, label { 

    color: #529ee0;


}

.imagem3 {

    color: aliceblue;
    height: 200px;
    
    
    
}




















